Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

checkstyle:
  name: Checkstyle
  language: system
  entry: ./gradlew
  args:
  - checkstyleMain
  - checkstyleTest
  pass_filenames: false

spotless:
  name: Spotless
  language: system
  entry: ./gradlew
  args:
  - spotlessCheck
  pass_filenames: false

detekt:
  name: Detekt
  language: system
  entry: ./gradlew
  args:
  - detekt
  pass_filenames: false

ktlint:
  name: Ktlint
  language: system
  entry: ./gradlew
  args:
  - ktlintCheck
  pass_filenames: false

Disable legacy components if external data management
  core/src/main/java/net/particify/arsnova/core/config/PersistenceConfig.java
  core/src/main/java/net/particify/arsnova/core/config/SecurityConfig.java
  core/src/main/java/net/particify/arsnova/core/controller/AccessTokenController.java
  core/src/main/java/net/particify/arsnova/core/controller/AnnouncementController.java
  core/src/main/java/net/particify/arsnova/core/controller/AuthenticationController.java
  core/src/main/java/net/particify/arsnova/core/controller/RoomController.java
  core/src/main/java/net/particify/arsnova/core/controller/UserController.java
  core/src/main/java/net/particify/arsnova/core/event/RoomAccessEventDispatcher.java
  core/src/main/java/net/particify/arsnova/core/security/ApplicationPermissionEvaluator.java
  core/src/main/java/net/particify/arsnova/core/security/CasUserDetailsService.java
  core/src/main/java/net/particify/arsnova/core/security/GuestUserDetailsService.java
  core/src/main/java/net/particify/arsnova/core/security/PasswordUtils.java
  core/src/main/java/net/particify/arsnova/core/security/RegisteredUserDetailsService.java
  core/src/main/java/net/particify/arsnova/core/security/jwt/JwtService.java
  core/src/main/java/net/particify/arsnova/core/security/pac4j/SsoAuthenticationProvider.java
  core/src/main/java/net/particify/arsnova/core/security/pac4j/SsoUserDetailsService.java
  core/src/main/java/net/particify/arsnova/core/service/AccessTokenServiceImpl.java
  core/src/main/java/net/particify/arsnova/core/service/AnnouncementServiceImpl.java
  core/src/main/java/net/particify/arsnova/core/service/DuplicationServiceImpl.java
  core/src/main/java/net/particify/arsnova/core/service/RoomFindQueryService.java
  core/src/main/java/net/particify/arsnova/core/service/RoomServiceImpl.java
  core/src/main/java/net/particify/arsnova/core/service/SecuredAccessTokenService.java
  core/src/main/java/net/particify/arsnova/core/service/SecuredAnnouncementService.java
  core/src/main/java/net/particify/arsnova/core/service/SecuredRoomService.java
  core/src/main/java/net/particify/arsnova/core/service/SecuredUserService.java
  core/src/main/java/net/particify/arsnova/core/service/UserFindQueryService.java
  core/src/main/java/net/particify/arsnova/core/service/UserServiceImpl.java
Due: checkstyle, spotless

Add stats for active member count to Room
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/resources/graphql/room.graphqls
Due: spotless, detekt, ktlint

Update last activity for memberships on join
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
Due: spotless, detekt, ktlint

Fix Jackson deserialization config for comments service
  comments/src/main/resources/arsnova.comment.properties.example
Due: none

Dispatch room update events for WebSocket
  core4/src/main/kotlin/net/particify/arsnova/core4/common/EntityChangeEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomEntityEventDispatcher.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomUpdatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyWebsocketEventDispatcher.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/RabbitConfiguration.kt
Due: spotless, detekt, ktlint

Expose ID for RoomStats type for client-side caching
  core4/src/main/resources/graphql/room.graphqls
Due: none

Lock file maintenance
  formatting/yarn.lock
Due: none

Fix unit tests
  core4/src/test/kotlin/net/particify/arsnova/core4/Core4ApplicationTests.kt
  core4/src/test/kotlin/net/particify/arsnova/core4/room/RoomTests.kt
  core4/src/test/kotlin/net/particify/arsnova/core4/user/LocalUserServiceTests.kt
  core4/src/test/kotlin/net/particify/arsnova/core4/user/UserServiceTests.kt
  core4/src/test/resources/application-test.yaml
Due: spotless, detekt, ktlint

Implement admin user and room management for v4
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomQueryInput.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/LocalUserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/AdminUserMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/AdminUserQueryController.kt
  core4/src/main/resources/graphql/room_admin.graphqls
  core4/src/main/resources/graphql/user_admin.graphqls
  core4/src/main/resources/messages/mail.yaml
  core4/src/main/resources/messages/mail_de.yaml
  core4/src/main/resources/templates/mail/admin-invitation-verification.html
  core4/src/main/resources/templates/mail/admin-invitation-verification.txt
  core4/src/main/resources/templates/mail/admin-invitation-verification_subject.txt
Due: spotless, detekt, ktlint

Add method-based authorization for controllers
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/AnnouncementPermissionEvaluator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/RoomPermissionEvaluator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/DomainPermissionEvaluation.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/DomainPermissionEvaluator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AuthenticationHttpController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MethodSecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeJwtAuthenticationProvider.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/DelegatingPermissionEvaluator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/AdminUserMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/AdminUserQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
Due: spotless, detekt, ktlint

Update Kotlin to 2.3.0
  gradle/libs.versions.toml
Due: none

Update to Java 25 for building
  .docker/compose/development/pdk
  .gitlab/ci/gradle-dependency-cache.yml
  .gitlab/ci/gradle.yml
  authz/.devcontainer/Dockerfile
  authz/build.gradle.kts
  comments/.devcontainer/Dockerfile
  comments/build.gradle.kts
  common/build.gradle.kts
  core/.devcontainer/Dockerfile
  core/build.gradle.kts
  core4/.devcontainer/Dockerfile
  core4/build.gradle.kts
  websocket/.devcontainer/Dockerfile
  websocket/build.gradle.kts
Due: spotless, detekt, ktlint

Update to Detekt plugin 2.0.0-alpha.1
  core4/build.gradle.kts
  core4/detekt.yaml
  gradle/libs.versions.toml
Due: spotless, detekt, ktlint

Update Spotbugs plugin to 6.4.8
  gradle/libs.versions.toml
  spotbugs-exclude.xml
Due: none

Fix Actuator /stats endpoint
  core/src/main/java/net/particify/arsnova/core/model/Statistics.java
Due: checkstyle, spotless

Fix Docker Compose dev config for core4
  .docker/compose/development/devcontainer.v4.compose.yaml
Due: none

Add missing route config for /violationreport
  .docker/apisix/apisix.yaml
Due: none

Fix authorization in RoomMutationController
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
Due: spotless, detekt, ktlint

Reenable keepalive for APISIX's forward-auth plugin
  .docker/apisix/apisix.yaml
Due: none

Fix authorization for token refresh
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AuthenticationHttpController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshCookieComponent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationFilter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationProvider.kt
Due: spotless, detekt, ktlint

Provide admin stats for users, rooms and announcements with GraphQL
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/AdminAnnouncementStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AdminAnnouncementStatisticsQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/AdminRoomStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomStatisticsQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/AdminStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AdminStatisticsQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/AdminUserStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/AdminUserStatisticsQueryController.kt
  core4/src/main/resources/graphql/admin_stats.graphqls
Due: spotless, detekt, ktlint

Add legacy admin endpoints to apisix config
  .docker/apisix/apisix.yaml
  core4/src/main/kotlin/net/particify/arsnova/core4/system/AdminStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AdminStatisticsQueryController.kt
Due: spotless, detekt, ktlint

Fix initial Q&A state
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomEventConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomServiceImpl.kt
Due: spotless, detekt, ktlint

Fix Docker volume mount for PostgreSQL
  .docker/compose/production/base.compose.yaml
  .docker/compose/production/v4.compose.yaml
Due: none

Fix authorization for verification by link
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
Due: spotless, detekt, ktlint

Use dev credentials for SAML from filesystem
  .docker/compose/development/devcontainer.v4.compose.yaml
  core4/.gitignore
  core4/generate-credentials.sh
  core4/src/main/resources/application-dev.yaml
Due: none

Restructure Liquibase changelog
  core4/src/main/resources/application-dev.yaml
  core4/src/main/resources/application.yaml
  core4/src/main/resources/db/changelog/data-dev.yaml
  core4/src/main/resources/db/changelog/data.yaml
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/db/changelog/includes/20260113141000-event-publication.yaml
  core4/src/main/resources/db/changelog/includes/20260115112300-user.yaml
  core4/src/main/resources/db/changelog/includes/20260115112301-room.yaml
  core4/src/main/resources/db/changelog/includes/20260115112302-announcement.yaml
  core4/src/main/resources/db/data-dev/announcement/announcement.csv
  core4/src/main/resources/db/data-dev/room/membership.csv
  core4/src/main/resources/db/data-dev/room/room.csv
  core4/src/main/resources/db/data-dev/user/user.csv
  core4/src/main/resources/db/data-dev/user/user_role_mapping.csv
Due: none

Update XML schema version for orm.xml
  core4/src/main/resources/META-INF/orm.xml
Due: none

Make request matchers for public routes extensible
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/PublicRoutes.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
Due: spotless, detekt, ktlint

Update Gradle to v9.3.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update Node.js to v24.13.0
  .gitlab/ci/nodejs.yml
  formatting/.docker/Dockerfile
Due: none

Update dependency com.bucket4j:bucket4j_jdk17-core to v8.16.0
  gradle/libs.versions.toml
Due: none

Update dependency io.freefair.aspectj.post-compile-weaving to v9.2.0
  gradle/libs.versions.toml
Due: none

Update dependency express to v5.2.1
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency org.altcha:altcha to v1.3.0
  gradle/libs.versions.toml
Due: none

Update dependency com.google.cloud.tools.jib to v3.5.2
  gradle/libs.versions.toml
Due: none

Path conditions:
  checkstyle: any of: \.java$
  spotless: any of: \.(java|kts?)$
  detekt: any of: \.kts?$
  ktlint: any of: \.kts?$
