Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Generic checks/fixes
      - id: no-commit-to-branch
      - id: check-added-large-files
        args: [--maxkb=512]
      - id: check-merge-conflict
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      # File-type-specific checks/fixes
      - id: check-yaml
  - repo: local
    hooks:
      - id: checkstyle
        name: Checkstyle
        files: \.java$
        language: system
        entry: ./gradlew
        args: [checkstyleMain, checkstyleTest]
        pass_filenames: false
      - id: spotless
        name: Spotless
        files: \.(java|kts?)$
        language: system
        entry: ./gradlew
        args: [spotlessCheck]
        pass_filenames: false
      - id: detekt
        name: Detekt
        files: \.kts?$
        language: system
        entry: ./gradlew
        args: [detekt]
        pass_filenames: false
      - id: ktlint
        name: Ktlint
        files: \.kts?$
        language: system
        entry: ./gradlew
        args: [ktlintCheck]
        pass_filenames: false

Add APISIX as API gateway
  .docker/apisix/apisix.yaml
  .docker/apisix/config.yaml
  .docker/compose/development/config-list
  .docker/compose/production/config-list
  .docker/compose/production/v4-apisix.compose.yaml
Due: none

Add Docker Compose configuration for v4
  .docker/compose/development/config-list
  .docker/compose/development/devcontainer.v4.compose.yaml
  .docker/compose/development/project-mapping-vars.sh
  .docker/compose/production/config-list
  .docker/compose/production/v4.compose.yaml
Due: none

Update dependency gradle to v8.14.3
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update dependency org.jlleitschuh.gradle.ktlint to v13
  gradle/libs.versions.toml
Due: none

Add new announcement implementation
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/Announcement.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/AnnouncementRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/CreateAnnouncementInput.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/UpdateAnnouncementInput.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/UserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/db/data/announcement/announcement.csv
  core4/src/main/resources/graphql/announcement.graphqls
Due: spotless, detekt, ktlint

Add settings property for User and Room
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless, detekt, ktlint

Do not redirect unauthenticated requests
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
Due: spotless, detekt, ktlint

Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Disable tests in CI environment for core4
  core4/.gitlab-ci.yml
Due: none

Use constructor injection
  websocket/src/main/kotlin/net/particify/arsnova/websocket/handler/StompMetaHandler.kt
Due: spotless, detekt, ktlint

Migrate to new Bucket4j API
  gateway/src/main/kotlin/net/particify/arsnova/gateway/filter/RequestRateLimiter.kt
  websocket/src/main/kotlin/net/particify/arsnova/websocket/service/RoomSubscriptionService.kt
Due: spotless, detekt, ktlint

Fix simple cases of deprecated API use
  authz/src/main/kotlin/net/particify/arsnova/authz/config/TaskExecutorConfig.kt
  comments/src/main/java/net/particify/arsnova/comments/controller/VoteController.java
  core/src/main/java/net/particify/arsnova/core/config/SecurityConfig.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/CouchDbCrudRepository.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/support/MangoQueryResultParser.java
  websocket/src/main/kotlin/net/particify/arsnova/websocket/config/TaskExecutorConfig.kt
Due: checkstyle, spotless, detekt, ktlint

Switch from AntPathRequestMatcher to PathPatternRequestMatcher
  core/src/main/java/net/particify/arsnova/core/config/SecurityConfig.java
  core/src/main/java/net/particify/arsnova/core/security/pac4j/SsoCallbackFilter.java
Due: checkstyle, spotless

Migrate to Spring Security's updated `HttpSecurity` API
  comments/src/main/java/net/particify/arsnova/comments/config/SecurityConfig.java
  core/src/main/java/net/particify/arsnova/core/config/SecurityConfig.java
  gateway/src/main/kotlin/net/particify/arsnova/gateway/config/WebSecurityConfig.kt
Due: checkstyle, spotless, detekt, ktlint

Add migrations for v3 data
  core4/src/main/kotlin/net/particify/arsnova/core4/Core4Application.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/Announcement.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/NewOrExistingUuidGenerator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/UuidGenerator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Announcement.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/CouchdbResponse.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Entity.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationExecutor.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/RoomAccess.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/UserProfile.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/UuidHelper.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Assign USER role to migrated Users
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/Role.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/UserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/RoleRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
Due: spotless, detekt, ktlint

Disable JPA auditing during migration and shutdown afterwards
  core4/src/main/kotlin/net/particify/arsnova/core4/Core4Application.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/JpaAuditingConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationExecutor.kt
Due: spotless, detekt, ktlint

Update dependency com.github.spotbugs to v6.2.2
  gradle/libs.versions.toml
Due: none

Add user account management
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyAuthenticationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/AuthenticationProviderConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/UserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UpdateUserDetailsInput.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/db/data/user/user.csv
  core4/src/main/resources/graphql/user.graphqls
  core4/src/test/kotlin/net/particify/arsnova/core4/user/LocalUserServiceTests.kt
  core4/src/test/kotlin/net/particify/arsnova/core4/user/UserServiceTests.kt
Due: spotless, detekt, ktlint

Add detekt config
  core4/build.gradle.kts
  core4/detekt.yaml
Due: spotless, detekt, ktlint

Add soft delete for users
  core4/src/main/kotlin/net/particify/arsnova/core4/Core4Application.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/UserDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserTaskScheduler.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/graphql/user.graphqls
  core4/src/test/kotlin/net/particify/arsnova/core4/user/UserServiceTests.kt
Due: spotless, detekt, ktlint

Add text rendering for renderable GraphQL fields
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/TextRenderingProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/TextRenderingService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Update dependency eslint to v9.31.0
  formatting/package.json
  formatting/yarn.lock
Due: none

Fix AnonymousAuthenticationToken handling for EntityAuditor
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/EntityAuditor.kt
Due: spotless, detekt, ktlint

Exclude duplicates for Gradle Jar task
  core4/build.gradle.kts
Due: spotless, detekt, ktlint

Add external login mapping and SAML support
  core4/.gitignore
  core4/build.gradle.kts
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyAuthenticationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyConfigurationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/AuthenticationSuccessHandler.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/JwtUtils.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/ExtendedSaml2RelyingPartyProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/ExternalLogin.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/ExternalLoginRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/Saml2ResponseAuthenticationConverter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/resources/application-dev.yaml
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  gradle/libs.versions.toml
Due: spotless, detekt, ktlint

Add support for weighted contents
  core/src/main/java/net/particify/arsnova/core/model/Content.java
Due: checkstyle, spotless

Add Keycloak and config script for dev environment
  .docker/compose/development/config-list
  .docker/compose/development/devcontainer.keycloak.compose.yaml
  .docker/keycloak/import/.gitignore
  .docker/keycloak/import/dev-realm.json.template
  core4/generate-credentials.sh
  docs/development/sso.adoc
Due: none

Create external logins during user migration
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/resources/application-dev.yaml
Due: spotless, detekt, ktlint

Update PostgreSQL for production environment
  .docker/compose/production/base.compose.yaml
Due: none

Update to PostgreSQL 17 and auto migrate in dev environment
  .docker/compose/development/devcontainer.base.compose.yaml
Due: none

Expose the RabbitMQ management port for dev environment
  .docker/compose/development/devcontainer.base.compose.yaml
Due: none

Add read-only mode
  comments/src/main/java/net/particify/arsnova/comments/handler/CommentCommandHandler.java
  comments/src/main/java/net/particify/arsnova/comments/handler/SettingsCommandHandler.java
  comments/src/main/java/net/particify/arsnova/comments/handler/VoteCommandHandler.java
  comments/src/main/java/net/particify/arsnova/comments/service/SettingsService.java
  comments/src/test/java/net/particify/arsnova/comments/handler/CommentCommandHandlerTest.java
  comments/src/test/java/net/particify/arsnova/comments/handler/SettingsCommandHandlerTest.java
  comments/src/test/java/net/particify/arsnova/comments/handler/VoteCommandHandlerTest.java
  core/src/main/java/net/particify/arsnova/core/config/properties/SystemProperties.java
  core/src/main/java/net/particify/arsnova/core/controller/ConfigurationController.java
  core/src/main/java/net/particify/arsnova/core/controller/ControllerExceptionHandler.java
  core/src/main/java/net/particify/arsnova/core/event/ReadOnlyCrudEventListener.java
  core/src/main/java/net/particify/arsnova/core/model/Configuration.java
  core/src/main/resources/config/defaults.yml
Due: checkstyle, spotless

Lock file maintenance
  formatting/yarn.lock
Due: none
