Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

checkstyle:
  name: Checkstyle
  language: system
  entry: ./gradlew
  args:
  - checkstyleMain
  - checkstyleTest
  pass_filenames: false

spotless:
  name: Spotless
  language: system
  entry: ./gradlew
  args:
  - spotlessCheck
  pass_filenames: false

detekt:
  name: Detekt
  language: system
  entry: ./gradlew
  args:
  - detekt
  pass_filenames: false

ktlint:
  name: Ktlint
  language: system
  entry: ./gradlew
  args:
  - ktlintCheck
  pass_filenames: false

Adjust mail templates for enhanced client compatibilty
  core4/src/main/resources/templates/mail/admin-invitation-verification.html
  core4/src/main/resources/templates/mail/footer.html
  core4/src/main/resources/templates/mail/head.html
  core4/src/main/resources/templates/mail/invitation-verification.html
  core4/src/main/resources/templates/mail/mail-verification.html
  core4/src/main/resources/templates/mail/password-reset.html
  core4/src/main/resources/templates/mail/welcome-verification.html
Due: none

Update pgautoupgrade/pgautoupgrade:18-alpine Docker digest to b418d86
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/development/devcontainer.keycloak.compose.yaml
  .docker/compose/development/devcontainer.v4.compose.yaml
Due: none

Update rabbitmq:4.2-alpine Docker digest to f5efafa
  .docker/images/rabbitmq-stomp/Dockerfile
Due: none

Update rabbitmq:4.2-management-alpine Docker digest to 49c7be1
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update apache/apisix Docker tag to v3.15.0
  .docker/compose/production/v4-apisix.compose.yaml
Due: none

Fix event ID for AMQP
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementsDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/internal/RoomDeletedEventHandler.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntitiesDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntityEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomsDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserDeletedEvent.kt
Due: spotless, detekt, ktlint

Update rabbitmq:4.2-management-alpine Docker digest to d356297
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update dependency eslint to v10
  formatting/package.json
  formatting/yarn.lock
Due: none

Update rabbitmq:4.2-management-alpine Docker digest to f33dc8c
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update quay.io/keycloak/keycloak:26.5 Docker digest to 5a236ae
  .docker/compose/development/devcontainer.keycloak.compose.yaml
Due: none

Expose admin endpoints in Actuator config
  core/src/main/resources/config/actuator.yml
Due: none

Remove deleted counts from admin stats
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/AdminAnnouncementStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/AdminRoomStats.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/AdminUserStats.kt
  core4/src/main/resources/graphql/admin_stats.graphqls
Due: spotless, detekt, ktlint

Fix permission for revoking room membership
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
Due: spotless, detekt, ktlint

Make random data generation independent from room
  .docker/apisix/apisix.yaml
  core/src/main/java/net/particify/arsnova/core/controller/RoomController.java
  core/src/main/java/net/particify/arsnova/core/controller/RoomDataGenerationController.java
  core/src/main/java/net/particify/arsnova/core/service/DataGenerationService.java
  core/src/main/java/net/particify/arsnova/core/service/DataGenerationServiceImpl.java
  core/src/main/java/net/particify/arsnova/core/service/SecuredDataGenerationService.java
Due: checkstyle, spotless

Move room joining logic to service
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
Due: spotless, detekt, ktlint

Add demo room implementation for core4
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/DemoRoomDuplicatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/resources/application-dev.yaml
  core4/src/main/resources/db/data-dev/room/membership.csv
  core4/src/main/resources/db/data-dev/room/room.csv
Due: spotless, detekt, ktlint

Prevent users from joining demo rooms
  core4/src/main/kotlin/net/particify/arsnova/core4/common/exception/AccessDeniedException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/exception/CommonExceptionResolverAdapter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipServiceImpl.kt
Due: spotless, detekt, ktlint

Make WebSocket stats accessible w/o legacy gateway
  .docker/apisix/apisix.yaml
  websocket/src/main/kotlin/net/particify/arsnova/websocket/controller/StatsController.kt
Due: spotless, detekt, ktlint

Accept and update legacy guest tokens for refresh
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/JwtUtils.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationFilter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationProvider.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/UserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
Due: spotless, detekt, ktlint

Remove basic and form login
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/Http401UnauthenticatedEntryPoint.kt
Due: spotless, detekt, ktlint

Make user memberships available for admins
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomQueryController.kt
  core4/src/main/resources/graphql/room_admin.graphqls
Due: spotless, detekt, ktlint

Allow defining features and UI config for legacy config
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyConfigurationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/UiProperties.kt
Due: spotless, detekt, ktlint

Remove deleted* from entity AuditMetadata
  core4/src/main/kotlin/net/particify/arsnova/core4/common/AuditMetadata.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/AdminRoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/resources/db/changelog/includes/20260115112300-user.yaml
  core4/src/main/resources/db/changelog/includes/20260115112301-room.yaml
  core4/src/main/resources/db/changelog/includes/20260115112302-announcement.yaml
  core4/src/main/resources/graphql/room_admin.graphqls
  core4/src/test/kotlin/net/particify/arsnova/core4/user/UserServiceTests.kt
Due: spotless, detekt, ktlint

Fix duplicate UserDeletedEvent
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
Due: spotless, detekt, ktlint

Update dependency markdown-it to v14.1.1
  formatting/package.json
  formatting/yarn.lock
Due: none

Update Node.js to v24.13.1
  .gitlab/ci/nodejs.yml
  formatting/.docker/Dockerfile
Due: none

Maintain dependency lockfile
  formatting/yarn.lock
Due: none

Fix UUID handling for legacy guest token
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationProvider.kt
Due: spotless, detekt, ktlint

Update postgres Docker tag to v18.2
  .docker/compose/production/base.compose.yaml
  .docker/compose/production/v4.compose.yaml
Due: none

Enable extended rendering options for room description
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
Due: spotless, detekt, ktlint

Add BCrypt configuration and increase default strength
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/AuthenticationProviderConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityProperties.kt
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Add events for important User entity changes
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserMailVerifiedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserPasswordChangedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
Due: spotless, detekt, ktlint

Update axllent/mailpit:v1.29 Docker digest to 7c38788
  .docker/compose/development/devcontainer.mailpit.compose.yaml
Due: none

Update pgautoupgrade/pgautoupgrade:18-alpine Docker digest to c83053c
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/development/devcontainer.keycloak.compose.yaml
  .docker/compose/development/devcontainer.v4.compose.yaml
Due: none

Adjust conditions to initiate mail verification
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
Due: spotless, detekt, ktlint

Update dependency com.auth0:java-jwt to v4.5.1
  gradle/libs.versions.toml
Due: none

Add cooldown between sending mails to the same address
  core4/src/main/kotlin/net/particify/arsnova/core4/system/exception/MailAddressTemporarilyBlockedException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/exception/SystemExceptionResolverAdapter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/mail/MailServiceImpl.kt
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Path conditions:
  checkstyle: any of: \.java$
  spotless: any of: \.(java|kts?)$
  detekt: any of: \.kts?$
  ktlint: any of: \.kts?$
