Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

checkstyle:
  name: Checkstyle
  language: system
  entry: ./gradlew
  args:
  - checkstyleMain
  - checkstyleTest
  pass_filenames: false

spotless:
  name: Spotless
  language: system
  entry: ./gradlew
  args:
  - spotlessCheck
  pass_filenames: false

detekt:
  name: Detekt
  language: system
  entry: ./gradlew
  args:
  - detekt
  pass_filenames: false

ktlint:
  name: Ktlint
  language: system
  entry: ./gradlew
  args:
  - ktlintCheck
  pass_filenames: false

Update rabbitmq:4.2-management-alpine Docker digest to f012bda
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update rabbitmq:4.2-alpine Docker digest to e1edf85
  .docker/images/rabbitmq-stomp/Dockerfile
Due: none

Maintain dependency lockfile
  formatting/yarn.lock
Due: none

Update pgautoupgrade/pgautoupgrade:18-alpine Docker digest to 49f03f4
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/development/devcontainer.keycloak.compose.yaml
  .docker/compose/development/devcontainer.v4.compose.yaml
Due: none

Update rabbitmq:4.2-management-alpine Docker digest to 426aa81
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update postgres:18.1-alpine Docker digest to aa6eb30
  .docker/compose/production/base.compose.yaml
  .docker/compose/production/v4.compose.yaml
Due: none

Update axllent/mailpit Docker tag to v1.29
  .docker/compose/development/devcontainer.mailpit.compose.yaml
Due: none

Update lastActivityAt for User on login and token refresh
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AuthenticationHttpController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/UserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/resources/db/changelog/includes/20260115112300-user.yaml
Due: spotless, detekt, ktlint

Use unchecked references for migrations
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Add migration workaround for missing creationTimestamp
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Entity.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Room.kt
Due: spotless, detekt, ktlint

Add config properties for CouchDB migration auth
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Improve performance for v3-to-v4 migration
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Enable ordering for INSERTs handled by Hibernate
  core4/src/main/resources/application.yaml
Due: none

Allow unset account for UserProfile during v3-to-v4 migration
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/UserProfile.kt
Due: spotless, detekt, ktlint

Add progress logging for migration from CouchDB
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Skip individual migrations if table is not empty
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Truncate too long strings during migration
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Handle common cases of non-existing users refs
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Set expected migration to the actual last 3.x migration
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/CouchDbInitializer.java
Due: checkstyle, spotless

Set missing fields during v3-to-v4 migration
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Handle room import metadata during migration
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/resources/db/changelog/includes/20260115112301-room.yaml
Due: spotless, detekt, ktlint

Update dependency com.bucket4j:bucket4j_jdk17-core to v8.16.1
  gradle/libs.versions.toml
Due: none

Update couchdb:3.5 Docker digest to 94d0d67
  .docker/images/couchdb/Dockerfile
Due: none

Update couchdb:3.5 Docker digest to c311385
  .docker/images/couchdb/Dockerfile
Due: none

Update rabbitmq:4.2-management-alpine Docker digest to 7e3cfcd
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update pgautoupgrade/pgautoupgrade:18-alpine Docker digest to ff242ba
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/development/devcontainer.keycloak.compose.yaml
  .docker/compose/development/devcontainer.v4.compose.yaml
Due: none

Update rabbitmq:4.2-management-alpine Docker digest to 97aa01e
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Make v3-to-v4 migration system more extensible
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/CouchdbMigrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationCompletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationExecutor.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/MigrationHelper.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
Due: spotless, detekt, ktlint

Prepare for use of UUID version 7
  core4/src/main/kotlin/net/particify/arsnova/core4/common/NewOrExistingUuidV7Generator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/UuidV7Generator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/UuidHelper.kt
Due: spotless, detekt, ktlint

Publish persistence-related domain events
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/AnnouncementsDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/AnnouncementServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntitiesDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntityChangeEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntityCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntityDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/event/EntityEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomDuplicatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomEntityEventDispatcher.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomUpdatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomsDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyWebsocketEventDispatcher.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserCreatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/event/UserEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
Due: spotless, detekt, ktlint

Explicitly delete announcements on room deletion
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/event/internal/RoomDeletedEventHandler.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/AnnouncementRepository.kt
Due: spotless, detekt, ktlint

Update Kotlin dependencies to v2.3.10
  gradle/libs.versions.toml
Due: none

Update dependency com.google.cloud.tools.jib to v3.5.3
  gradle/libs.versions.toml
Due: none

Update rabbitmq:4.2-management-alpine Docker digest to 9a2ad4f
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update rabbitmq:4.2-alpine Docker digest to e6d50ed
  .docker/images/rabbitmq-stomp/Dockerfile
Due: none

Improve mail template accessibility and UX
  core4/src/main/resources/templates/mail/admin-invitation-verification.html
  core4/src/main/resources/templates/mail/footer.txt
  core4/src/main/resources/templates/mail/head.html
  core4/src/main/resources/templates/mail/invitation-verification.html
  core4/src/main/resources/templates/mail/mail-verification.html
  core4/src/main/resources/templates/mail/password-reset.html
  core4/src/main/resources/templates/mail/welcome-verification.html
Due: none

Allow customization for mail footer through config
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/mail/MailServiceImpl.kt
  core4/src/main/resources/templates/mail/footer.html
  core4/src/main/resources/templates/mail/footer.txt
  core4/src/main/resources/templates/mail/head.html
Due: spotless, detekt, ktlint

Path conditions:
  checkstyle: any of: \.java$
  spotless: any of: \.(java|kts?)$
  detekt: any of: \.kts?$
  ktlint: any of: \.kts?$
