Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

checkstyle:
  name: Checkstyle
  language: system
  entry: ./gradlew
  args:
  - checkstyleMain
  - checkstyleTest
  pass_filenames: false

spotless:
  name: Spotless
  language: system
  entry: ./gradlew
  args:
  - spotlessCheck
  pass_filenames: false

detekt:
  name: Detekt
  language: system
  entry: ./gradlew
  args:
  - detekt
  pass_filenames: false

ktlint:
  name: Ktlint
  language: system
  entry: ./gradlew
  args:
  - ktlintCheck
  pass_filenames: false

Fix Liquibase dependency for Spring Boot 4
  core4/build.gradle.kts
  gradle/libs.versions.toml
Due: spotless, detekt, ktlint

Update Gradle to v9.2.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update rabbitmq Docker tag to v4.2
  .docker/images/rabbitmq-stomp/Dockerfile
  .docker/images/rabbitmq-stomp/management.Dockerfile
Due: none

Update Node.js to v24
  .gitlab/ci/nodejs.yml
  formatting/.docker/Dockerfile
Due: none

Update querydsl to v7
  gradle/libs.versions.toml
Due: none

Update to PostgreSQL 18
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/development/devcontainer.v4.compose.yaml
  .docker/compose/production/base.compose.yaml
  .docker/compose/production/v4.compose.yaml
  core4/src/test/kotlin/net/particify/arsnova/core4/TestcontainersConfiguration.kt
Due: spotless, detekt, ktlint

Fix deprecation in Testcontainer config
  core4/src/test/kotlin/net/particify/arsnova/core4/TestcontainersConfiguration.kt
Due: spotless, detekt, ktlint

Update pac4j to v6.3.0
  gradle/libs.versions.toml
Due: none

Update dependency com.diffplug.spotless to v8
  gradle/libs.versions.toml
Due: none

Update dependency com.graphql-java:graphql-java-extended-scalars to v24
  gradle/libs.versions.toml
Due: none

Update dependency io.freefair.aspectj.post-compile-weaving to v9
  gradle/libs.versions.toml
Due: none

Update dependency org.jlleitschuh.gradle.ktlint to v14
  gradle/libs.versions.toml
Due: none

Update dependency com.google.cloud.tools.jib to v3.5.1
  gradle/libs.versions.toml
Due: none

Update dependency org.graalvm.buildtools.native to v0.11.3
  gradle/libs.versions.toml
Due: none

Fix dependency config for getDeps Gradle task
  core4/build.gradle.kts
Due: spotless, detekt, ktlint

Update Kotlin dependencies to v2.2.21
  gradle/libs.versions.toml
Due: none

Update dependency eslint to v9.39.1
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency markdown-it-prism to v3.0.1
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency org.aspectj:aspectjrt to v1.9.25
  gradle/libs.versions.toml
Due: none

Add schema and controller for user ui settings
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/graphql/user.graphqls
Due: spotless, detekt, ktlint

Fix incrementing of verification errors
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
Due: spotless, detekt, ktlint

Add role query filter for rooms
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryInput.kt
  core4/src/main/resources/graphql/room.graphqls
Due: spotless, detekt, ktlint

Add link for setting new password in client to password reset mail template
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
  core4/src/main/resources/application.yaml
  core4/src/main/resources/messages/mail.yaml
  core4/src/main/resources/messages/mail_de.yaml
  core4/src/main/resources/templates/mail/password-reset.html
  core4/src/main/resources/templates/mail/password-reset.txt
Due: spotless, detekt, ktlint

Complete password reset implementation for v4
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/graphql/user.graphqls
  core4/src/main/resources/templates/mail/password-reset.txt
Due: spotless, detekt, ktlint

Add language property to user
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/graphql/user.graphqls
Due: spotless, detekt, ktlint

Fix MigrationState for newly created databases
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/CouchDbInitializer.java
Due: checkstyle, spotless

Add guest auth provider to legacy config
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyConfigurationController.kt
Due: spotless, detekt, ktlint

Add implementation for resending verification mail
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/graphql/user.graphqls
Due: spotless, detekt, ktlint

Improve response and error handling
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/exception/AnnouncementExceptionResolverAdapter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/exception/AnnouncementNotFoundException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/ModuleMetadata.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/exception/CommonExceptionResolverAdapter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/exception/InvalidInputException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/exception/MembershipNotFoundException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/exception/RoomExceptionResolverAdapter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/exception/RoomNotFoundException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/exception/InvalidUserStateException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/exception/InvalidVerificationCodeException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/exception/UserExceptionResolverAdapter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/exception/UserNotFoundException.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
  core4/src/main/resources/graphql/room.graphqls
  core4/src/main/resources/graphql/user.graphqls
  core4/src/test/kotlin/net/particify/arsnova/core4/user/LocalUserServiceTests.kt
Due: spotless, detekt, ktlint

Remove obsolete repository code
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipRepository.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomRepository.kt
Due: spotless, detekt, ktlint

Never depend directly on repositories in controllers
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/AnnouncementServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/announcement/internal/api/AnnouncementQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/MembershipServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
Due: spotless, detekt, ktlint

Lock file maintenance
  formatting/yarn.lock
Due: none

Fix roomByShortId query
  core4/src/main/resources/graphql/room.graphqls
Due: none

Add config for transactional event system
  core4/build.gradle.kts
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/RabbitConfiguration.kt
  core4/src/main/resources/application.yaml
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/db/changelog/event-publication.yaml
  gradle/libs.versions.toml
Due: spotless, detekt, ktlint

Move room creation logic to service
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
Due: spotless, detekt, ktlint

Complete room deletion and duplication implementations
  core/src/main/java/net/particify/arsnova/core/config/RabbitConfig.java
  core/src/main/java/net/particify/arsnova/core/event/AmqpRoomDeletionEvent.java
  core/src/main/java/net/particify/arsnova/core/event/AmqpRoomDuplicationEvent.java
  core/src/main/java/net/particify/arsnova/core/event/IncomingAmqpRoomEventDispatcher.java
  core/src/main/java/net/particify/arsnova/core/event/OutgoingAmqpEventDispatcher.java
  core/src/main/java/net/particify/arsnova/core/service/DuplicationServiceImpl.java
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomDeletedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomDuplicatedEvent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/event/RoomEventConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/RoomServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/DuplicateRoomInput.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
Due: checkstyle, spotless, detekt, ktlint

Use a single external-data-management property
  .docker/compose/production/v4.compose.yaml
  core/src/main/java/net/particify/arsnova/core/config/ConditionalOnLegacyDataManagement.java
  core/src/main/java/net/particify/arsnova/core/config/ConditionalOnV4DataManagement.java
  core/src/main/java/net/particify/arsnova/core/config/RabbitConfig.java
  core/src/main/java/net/particify/arsnova/core/config/properties/SystemProperties.java
  core/src/main/java/net/particify/arsnova/core/event/IncomingAmqpRoomEventDispatcher.java
  core/src/main/java/net/particify/arsnova/core/event/OutgoingAmqpEventDispatcher.java
  core/src/main/java/net/particify/arsnova/core/security/jwt/JwtService.java
Due: checkstyle, spotless

Remove unnecessary service dependencies
  core/src/main/java/net/particify/arsnova/core/config/PersistenceConfig.java
  core/src/main/java/net/particify/arsnova/core/security/ApplicationPermissionEvaluator.java
  core/src/main/java/net/particify/arsnova/core/service/AnswerServiceImpl.java
Due: checkstyle, spotless

Move endpoint for room stats to separate controller
  core/src/main/java/net/particify/arsnova/core/controller/RoomController.java
  core/src/main/java/net/particify/arsnova/core/controller/RoomStatisticsController.java
Due: checkstyle, spotless

Path conditions:
  checkstyle: any of: \.java$
  spotless: any of: \.(java|kts?)$
  detekt: any of: \.kts?$
  ktlint: any of: \.kts?$
