Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

checkstyle:
  name: Checkstyle
  language: system
  entry: ./gradlew
  args:
  - checkstyleMain
  - checkstyleTest
  pass_filenames: false

spotless:
  name: Spotless
  language: system
  entry: ./gradlew
  args:
  - spotlessCheck
  pass_filenames: false

detekt:
  name: Detekt
  language: system
  entry: ./gradlew
  args:
  - detekt
  pass_filenames: false

ktlint:
  name: Ktlint
  language: system
  entry: ./gradlew
  args:
  - ktlintCheck
  pass_filenames: false

Fix room settings endpoint for participant
  core/src/main/java/net/particify/arsnova/core/controller/RoomSettingsController.java
Due: checkstyle, spotless

Update release tags for version 3.13
  .docker/compose/production/.prod.env
  .docker/compose/production/README.adoc
Due: none

Update Node.js to v22.19.0
  .gitlab/ci/nodejs.yml
  formatting/.docker/Dockerfile
Due: none

Fix handling of duplicate room user alias keys
  core/src/main/java/net/particify/arsnova/core/service/RoomUserAliasServiceImpl.java
Due: checkstyle, spotless

Update dependency org.springframework.boot to v3.5.6
  gradle/libs.versions.toml
Due: none

Update Kotlin dependencies to v2.2.20
  gradle/libs.versions.toml
Due: none

Update pac4j to v6.2.2
  gradle/libs.versions.toml
Due: none

Update Gradle to v9.1.0
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Update dependency com.google.guava:guava to v33.5.0-jre
  gradle/libs.versions.toml
Due: none

Update dependency com.github.spotbugs:spotbugs-annotations to v4.9.6
  gradle/libs.versions.toml
Due: none

Update dependency eslint to v9.36.0
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency eslint-plugin-n to v17.23.1
  formatting/package.json
  formatting/yarn.lock
Due: none

Lock file maintenance
  formatting/yarn.lock
Due: none

Add JWT vars for auth service in Docker env
  .docker/compose/production/docker-compose.yml
Due: none

Fetch master for Spotless on CI
  core4/.gitlab-ci.yml
Due: none

Add Renovate versioning rule for graphql-java-extended-scalars
  .renovaterc.json
Due: none

Update dependency org.springframework.modulith:spring-modulith-bom to v1.4.3
  gradle/libs.versions.toml
Due: none

Update dependency katex to v0.16.23
  formatting/yarn.lock
Due: none

Update opensaml to v5.1.6
  gradle/libs.versions.toml
Due: none

Update dev docs link to GraphiQL
  docs/development/graphql.adoc
Due: none

Update Node.js to v22.20.0
  .gitlab/ci/nodejs.yml
  formatting/.docker/Dockerfile
Due: none

Fix multiple user account claiming issues
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserService.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless, detekt, ktlint

Update detekt config to allow 15 methods per class
  core4/detekt.yaml
Due: none

Add mail system user account actions
  core4/build.gradle.kts
  core4/src/main/kotlin/net/particify/arsnova/core4/system/MailService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/ServiceProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/mail/MailServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/application-dev.yaml
  core4/src/main/resources/application.yaml
  core4/src/main/resources/messages/mail.yaml
  core4/src/main/resources/messages/mail_de.yaml
  core4/src/main/resources/templates/mail/footer.html
  core4/src/main/resources/templates/mail/footer.txt
  core4/src/main/resources/templates/mail/head.html
  core4/src/main/resources/templates/mail/mail-verification.html
  core4/src/main/resources/templates/mail/mail-verification.txt
  core4/src/main/resources/templates/mail/mail-verification_subject.txt
  core4/src/main/resources/templates/mail/password-reset.html
  core4/src/main/resources/templates/mail/password-reset.txt
  core4/src/main/resources/templates/mail/password-reset_subject.txt
  core4/src/main/resources/templates/mail/welcome-verification.html
  core4/src/main/resources/templates/mail/welcome-verification.txt
  core4/src/main/resources/templates/mail/welcome-verification_subject.txt
  core4/src/test/kotlin/net/particify/arsnova/core4/user/LocalUserServiceTests.kt
  gradle/libs.versions.toml
Due: spotless, detekt, ktlint

Add Mailpit to development environment
  .docker/compose/development/config-list
  .docker/compose/development/devcontainer.mailpit.compose.yaml
  core4/src/main/resources/application-dev.yaml
Due: none

Improve defaults for dev server
  core/build.gradle.kts
  core4/build.gradle.kts
  core4/src/main/resources/application-dev.yaml
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Update dependency com.github.spotbugs:spotbugs-annotations to v4.9.8
  gradle/libs.versions.toml
Due: none

Update dependency org.springframework.boot to v3.5.7
  gradle/libs.versions.toml
Due: none

Add config to make JVM debugging work out of the box
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/development/devcontainer.env
  .docker/compose/development/devcontainer.v4.compose.yaml
  authz/build.gradle.kts
  comments/build.gradle.kts
  core/build.gradle.kts
  core4/build.gradle.kts
  gateway/build.gradle.kts
Due: spotless, detekt, ktlint

Path conditions:
  checkstyle: any of: \.java$
  spotless: any of: \.(java|kts?)$
  detekt: any of: \.kts?$
  ktlint: any of: \.kts?$
