Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Generic checks/fixes
      - id: no-commit-to-branch
      - id: check-added-large-files
        args: [--maxkb=512]
      - id: check-merge-conflict
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      # File-type-specific checks/fixes
      - id: check-yaml
  - repo: local
    hooks:
      - id: checkstyle
        name: Checkstyle
        files: \.java$
        language: system
        entry: ./gradlew
        args: [checkstyleMain, checkstyleTest]
        pass_filenames: false
      - id: spotless
        name: Spotless
        files: \.(java|kts?)$
        language: system
        entry: ./gradlew
        args: [spotlessCheck]
        pass_filenames: false
      - id: detekt
        name: Detekt
        files: \.kts?$
        language: system
        entry: ./gradlew
        args: [detekt]
        pass_filenames: false
      - id: ktlint
        name: Ktlint
        files: \.kts?$
        language: system
        entry: ./gradlew
        args: [ktlintCheck]
        pass_filenames: false

Add PoW-challenge-based authentication
  core4/build.gradle.kts
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeJwtAuthentication.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeJwtAuthenticationFilter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeJwtAuthenticationProvider.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/JwtUtils.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/UserJwtAuthentication.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/UserJwtAuthenticationFilter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/UserJwtAuthenticationProvider.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/EntityAuditor.kt
  core4/src/main/resources/application-dev.yaml
  core4/src/main/resources/application.yaml
  gradle/libs.versions.toml
Due: spotless, detekt, ktlint

Add system to block already used challenges
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeJwtAuthenticationProvider.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeService.kt
Due: spotless, detekt, ktlint

Lock file maintenance
  formatting/yarn.lock
Due: none

Implement new authentication system
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AuthenticationHttpController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AuthenticationWrapper.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/LoginInput.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/SamlHttpController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/compat/LegacyAuthenticationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/AuthenticationSuccessHandler.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/JwtUtils.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshCookieComponent.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthentication.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationFilter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthenticationProvider.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/UserJwtAuthenticationFilter.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/graphql/user.graphqls
  docs/development/authentication.adoc
Due: spotless, detekt, ktlint

Remove unused queries for users
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
  core4/src/main/resources/graphql/user.graphqls
Due: spotless, detekt, ktlint

Update GraphQL User type
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
  core4/src/main/resources/graphql/user.graphqls
Due: spotless, detekt, ktlint

Revert log level for dev environment back to INFO
  core4/src/main/resources/application-dev.yaml
Due: none

Add additional operations for room member management
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
  core4/src/main/resources/graphql/room.graphqls
  core4/src/main/resources/graphql/user.graphqls
Due: spotless, detekt, ktlint

Add missing room entity fields and related API
  core4/src/main/kotlin/net/particify/arsnova/core4/common/LanguageIso639.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/common/LanguageIso639Validator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Room.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomQueryController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/resources/db/changelog/db.changelog-master.yaml
  core4/src/main/resources/graphql/room.graphqls
Due: spotless, detekt, ktlint

Fix typos in developer docs
  docs/development/design-decisions.adoc
  docs/development/graphql.adoc
  docs/development/road-to-v4.adoc
Due: none

Add conventions for GraphQL
  docs/development/graphql.adoc
Due: none

Fix config for core's debug port
  .docker/compose/development/devcontainer.base.compose.yaml
Due: none

Add unverifiedMailAddress to user schema
  core4/src/main/resources/graphql/user.graphqls
Due: none

Replace deprecated Thymeleaf syntax
  core4/src/main/resources/templates/mail/mail-verification.html
  core4/src/main/resources/templates/mail/mail-verification.txt
  core4/src/main/resources/templates/mail/password-reset.html
  core4/src/main/resources/templates/mail/password-reset.txt
  core4/src/main/resources/templates/mail/welcome-verification.html
  core4/src/main/resources/templates/mail/welcome-verification.txt
Due: none

Add account verification from link
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/application.yaml
  core4/src/main/resources/graphql/user.graphqls
  core4/src/main/resources/messages/mail.yaml
  core4/src/main/resources/messages/mail_de.yaml
  core4/src/main/resources/templates/mail/welcome-verification.html
  core4/src/main/resources/templates/mail/welcome-verification.txt
Due: spotless, detekt, ktlint

Remove arsnova-proxy configs
  .docker/compose/development/base.env
  .docker/compose/development/devcontainer.base.compose.yaml
  .docker/compose/production/base.compose.yaml
  .docker/compose/production/base.env
  .docker/compose/production/production.base.compose.yaml
  .docker/images/arsnova-proxy/Dockerfile
  .docker/images/arsnova-proxy/dhparam
  .docker/images/arsnova-proxy/docker-entrypoint.d/20-envsubst-on-templates-with-tls.sh
  .docker/images/arsnova-proxy/docker-entrypoint.d/30-tls.sh
  .docker/images/arsnova-proxy/docker-entrypoint.d/40-redirects.sh
  .docker/images/arsnova-proxy/docker-entrypoint.d/50-ipv6.sh
  .docker/images/arsnova-proxy/domain_redirect.conf.template
  .docker/images/arsnova-proxy/legacy_redirect.conf.include
  .docker/images/arsnova-proxy/nginx.conf
  .docker/images/arsnova-proxy/templates/arsnova.conf.template
  .docker/images/arsnova-proxy/tls.conf.include
  .docker/images/arsnova-proxy/tls_redirect.conf
  .docker/images/determine-tag.sh
  .gitlab-ci.yml
Due: none

Update to Java 25 for production container images
  authz/build.gradle.kts
  comments/build.gradle.kts
  core/build.gradle.kts
  core4/build.gradle.kts
  websocket/build.gradle.kts
Due: spotless, detekt, ktlint

Fix setting of version for refresh token
  core4/src/main/kotlin/net/particify/arsnova/core4/system/api/AuthenticationHttpController.kt
Due: spotless, detekt, ktlint

Add missing v3 answer endpoint for APISIX
  .docker/apisix/apisix.yaml
Due: none

Add missing v3 user alias endpoint for APISIX
  .docker/apisix/apisix.yaml
Due: none

Remove v3 migrations
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/CouchDbInitializer.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/AbstractMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ContentCorrectOptionIndexesMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ContentGroupPublishRangeAndModelCleanupMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ContentGroupPublishingModeMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ContentGroupTemplatePublishedFlagMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ContentGroupTypeMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ImportedRoomUnsetClosedFlagMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/InnerMigrationEntity.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/InterruptibleConsumer.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/InterruptibleFunction.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/LastActivityMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/MigratedContentGroupMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/MigratedFlashcardMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/Migration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/MigrationEntity.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/MigrationException.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/MigrationExecutor.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ModelCleanupMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/RoomSettingsMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/ScaleContentTemplateMigration.java
  core/src/main/java/net/particify/arsnova/core/persistence/couchdb/migrations/UserProfileRoomHistoryMigration.java
  core/src/test/java/net/particify/arsnova/core/persistence/couchdb/migrations/MigrationTest.java
Due: checkstyle, spotless

Fix type issues regarding nullability
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/SecurityConfiguration.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/migration/v3/Migrator.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/AuthenticationSuccessHandler.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeJwtAuthentication.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/RefreshJwtAuthentication.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/UserJwtAuthentication.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/UserServiceImpl.kt
Due: spotless, detekt, ktlint

Disable globally quoted identifiers for Hibernate
  core4/src/main/kotlin/net/particify/arsnova/core4/user/Role.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/User.kt
  core4/src/main/resources/application.yaml
Due: spotless, detekt, ktlint

Migrate to Spring Boot 4
  authz/src/main/kotlin/net/particify/arsnova/authz/config/RabbitConfig.kt
  authz/src/main/kotlin/net/particify/arsnova/authz/handler/RoomAccessHandler.kt
  comments/src/main/java/net/particify/arsnova/comments/config/RabbitConfig.java
  comments/src/main/java/net/particify/arsnova/comments/service/CommentService.java
  comments/src/test/java/net/particify/arsnova/comments/service/CommentServiceTest.java
  common/build.gradle.kts
  common/src/main/java/net/particify/arsnova/common/uuid/StringToUuidJsonConverter.java
  common/src/main/java/net/particify/arsnova/common/uuid/UuidJacksonModule.java
  common/src/main/java/net/particify/arsnova/common/uuid/UuidToStringJsonConverter.java
  core/build.gradle.kts
  core/src/main/java/net/particify/arsnova/core/config/RabbitConfig.java
  core/src/main/java/net/particify/arsnova/core/config/SecurityConfig.java
  core/src/main/java/net/particify/arsnova/core/service/UserServiceImpl.java
  core4/build.gradle.kts
  core4/src/main/kotlin/net/particify/arsnova/core4/room/Membership.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/ChallengeService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/ExtendedSaml2RelyingPartyProperties.kt
  gradle/libs.versions.toml
  websocket/build.gradle.kts
  websocket/src/main/kotlin/net/particify/arsnova/websocket/config/RabbitConfig.kt
  websocket/src/main/kotlin/net/particify/arsnova/websocket/config/RestConfig.kt
Due: checkstyle, spotless, detekt, ktlint

Remove version catalog items for Spring Cloud Gateway
  gradle/libs.versions.toml
Due: none

Adjust SAML assertion handling for Spring Security 7
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/Saml2ResponseAuthenticationConverter.kt
Due: spotless, detekt, ktlint

Return room id after room deletion
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/resources/graphql/room.graphqls
Due: spotless, detekt, ktlint

Add implementation for revoking room membership
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/resources/graphql/room.graphqls
Due: spotless, detekt, ktlint

Fallback to unverifiedMailAddress for displayId
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserQueryController.kt
Due: spotless, detekt, ktlint

Add implementation for granting role by invitation
  core4/src/main/kotlin/net/particify/arsnova/core4/room/internal/api/RoomMutationController.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/system/config/MailProperties.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/LocalUserService.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/LocalUserServiceImpl.kt
  core4/src/main/kotlin/net/particify/arsnova/core4/user/internal/api/UserMutationController.kt
  core4/src/main/resources/application.yaml
  core4/src/main/resources/graphql/user.graphqls
  core4/src/main/resources/messages/mail.yaml
  core4/src/main/resources/messages/mail_de.yaml
  core4/src/main/resources/templates/mail/invitation-verification.html
  core4/src/main/resources/templates/mail/invitation-verification.txt
  core4/src/main/resources/templates/mail/invitation-verification_subject.txt
  core4/src/test/kotlin/net/particify/arsnova/core4/user/LocalUserServiceTests.kt
Due: spotless, detekt, ktlint

Disable virtual threads for now
  core4/src/main/resources/application.yaml
Due: none

Use OncePerRequestFilter as base for UserJwtAuthenticationFilter
  core4/src/main/kotlin/net/particify/arsnova/core4/system/security/UserJwtAuthenticationFilter.kt
Due: spotless, detekt, ktlint
