Repository particify/arsnova-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkstyle, spotless, detekt, ktlint

checkstyle:
  name: Checkstyle
  language: system
  entry: ./gradlew
  args:
  - checkstyleMain
  - checkstyleTest
  pass_filenames: false

spotless:
  name: Spotless
  language: system
  entry: ./gradlew
  args:
  - spotlessCheck
  pass_filenames: false

detekt:
  name: Detekt
  language: system
  entry: ./gradlew
  args:
  - detekt
  pass_filenames: false

ktlint:
  name: Ktlint
  language: system
  entry: ./gradlew
  args:
  - ktlintCheck
  pass_filenames: false

Add published flag to content group stats
  core/src/main/java/net/particify/arsnova/core/model/RoomStatistics.java
Due: checkstyle, spotless

Remove obsolete update hook for ContentGroups
  core/src/main/java/net/particify/arsnova/core/service/ContentGroupServiceImpl.java
Due: checkstyle, spotless

Fix cache handling for errors on PATCH operations
  core/src/main/java/net/particify/arsnova/core/controller/AbstractEntityController.java
  core/src/main/java/net/particify/arsnova/core/service/DefaultEntityServiceImpl.java
  core/src/test/java/net/particify/arsnova/core/service/DefaultEntityServiceImplTest.java
Due: checkstyle, spotless

Remove obsolete spring config
  authz/src/main/resources/application.yml
  comments/src/main/resources/arsnova.comment.properties.example
  core/src/main/resources/config/actuator.yml
  gateway/src/main/resources/application.yml
  websocket/src/main/resources/application.yml
Due: none

Update Maven coordinates for Spring Cloud Gateway
  gateway/build.gradle.kts
Due: spotless, detekt, ktlint

Remove unnecessary JsonView for setter
  core/src/main/java/net/particify/arsnova/core/model/Room.java
Due: checkstyle, spotless

Disable Q&A by default for new rooms
  comments/src/main/java/net/particify/arsnova/comments/event/RoomCreatedListener.java
Due: checkstyle, spotless

Only override Q&A read-only when globally enabled
  comments/src/main/java/net/particify/arsnova/comments/service/SettingsService.java
Due: checkstyle, spotless

Include settings in duplication of rooms
  comments/src/main/java/net/particify/arsnova/comments/event/RoomDuplicatedListener.java
  core/src/main/java/net/particify/arsnova/core/model/RoomSettings.java
  core/src/main/java/net/particify/arsnova/core/service/DuplicationServiceImpl.java
Due: checkstyle, spotless

Use debug level for comment service's event logging
  comments/src/main/java/net/particify/arsnova/comments/event/AmqpEventDispatcher.java
  comments/src/main/java/net/particify/arsnova/comments/event/CommentImportListener.java
  comments/src/main/java/net/particify/arsnova/comments/event/RoomDeletedListener.java
Due: checkstyle, spotless

Delete RoomSettings when Room is deleted
  core/src/main/java/net/particify/arsnova/core/service/RoomSettingsServiceImpl.java
Due: checkstyle, spotless

Update dependency org.springframework.boot to v3.5.4
  gradle/libs.versions.toml
Due: none

Fix NPE for duplication of RoomSettings
  core/src/main/java/net/particify/arsnova/core/service/DuplicationServiceImpl.java
Due: checkstyle, spotless

Lock file maintenance
  formatting/yarn.lock
Due: none

Update dependency eslint-plugin-n to v17.21.2
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency eslint to v9.32.0
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency eslint-plugin-n to v17.21.3
  formatting/package.json
  formatting/yarn.lock
Due: none

Update dependency com.github.spotbugs to v6.2.3
  gradle/libs.versions.toml
Due: none

Fix pdk devcontainer path
  .docker/compose/development/pdk
Due: none

Update dependency gradle to v9
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Update dependency com.bucket4j:bucket4j_jdk17-core to v8.15.0
  gradle/libs.versions.toml
Due: none

Update dependency org.jlleitschuh.gradle.ktlint to v13.1.0
  gradle/libs.versions.toml
Due: none

Update Node.js to v22.18.0
  .gitlab/ci/nodejs.yml
  formatting/.docker/Dockerfile
Due: none

Update dependency org.springframework.boot to v3.5.5
  gradle/libs.versions.toml
Due: none

Update Kotlin dependencies to v2.2.10
  gradle/libs.versions.toml
Due: none

Update pac4j to v6.2.1
  gradle/libs.versions.toml
Due: none

Update dependency com.github.spotbugs:spotbugs-annotations to v4.9.4
  gradle/libs.versions.toml
Due: none

Update dependency io.freefair.aspectj.post-compile-weaving to v8.14.2
  gradle/libs.versions.toml
Due: none

Update dependency eslint to v9.34.0
  formatting/package.json
  formatting/yarn.lock
Due: none

Revert service hostnames used by Nginx
  .docker/images/arsnova-proxy/templates/arsnova.conf.template
Due: none

Bump Docker service dependencies
  .docker/compose/production/docker-compose.yml
Due: none

Set release tags for version 3.13
  .docker/compose/production/.prod.env
  .docker/compose/production/README.adoc
  .docker/compose/production/base.compose.yaml
  .docker/compose/production/base.env
  .docker/compose/production/config-list
  .docker/compose/production/docker-compose.prod.yml
  .docker/compose/production/docker-compose.yml
  .docker/compose/production/particifyctl
  .docker/compose/production/production.base.compose.yaml
  .docker/compose/production/production.env
  .docker/compose/production/set-env.sh
Due: none

Revert "Migrate SSO handling logic for Pac4j 6"
  core/src/main/java/net/particify/arsnova/core/config/SecurityConfig.java
  core/src/main/java/net/particify/arsnova/core/controller/AuthenticationController.java
  core/src/main/java/net/particify/arsnova/core/security/pac4j/SsoCallbackFilter.java
Due: checkstyle, spotless

Downgrade Pac4j to v5
  gradle/libs.versions.toml
Due: none

Fix room settings endpoint for participant
  core/src/main/java/net/particify/arsnova/core/controller/RoomSettingsController.java
Due: checkstyle, spotless

Path conditions:
  checkstyle: any of: \.java$
  spotless: any of: \.(java|kts?)$
  detekt: any of: \.kts?$
  ktlint: any of: \.kts?$
